/* * {
    outline: 4px solid green !important;
} */

@import '../css/styles/block.css';
@import '../css/styles/history.css';
@import '../css/styles/projects.css';

body {
    font-family: "Manrope", sans-serif;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.block-inner {
    padding-bottom: 150px;
}

.projects-inner {
    padding-bottom: 100px;
}

.history-inner {
    padding-bottom: 150px;
}

@media (max-width: 1199px) {

    .container {
        width: 100%;
        padding: 0 15px;
    }

    .block-img {
        height: 400px;
        background-size: auto;
        background-position: 50% 35%;
    }

    .block__text {
        left: 42px;
        bottom: 30px;
    }

    .block__title {
        font-size: 50px;
        letter-spacing: -1.5px;
    }

    .block-inner {
        padding-bottom: 120px;
    }

    .history-inner {
        padding-bottom: 120px;
    }

    .block__title {
        font-size: 50px;
    }

    .history__subtitle {
        max-width: 690px;
        font-size: 35px;
    }

    .project__itemtitle {
        margin-bottom: 10px;
    }

    .project__item {
        margin-bottom: 80px;
    }

    .project__item:last-child {
        margin-bottom: 100px;
    }
}

@media (max-width: 930px) {



    .block__title {
        margin-bottom: 20px;

        font-size: 30px;
        font-weight: 400;
        line-height: 31.621px;
        letter-spacing: -0.9px;
    }

    .block-inner {
        padding-bottom: 80px;
    }

    .history__title {
        font-size: 14px;
        letter-spacing: -0.42px;
        text-transform: uppercase;
    }

    .history__subtitle {
        font-size: 22px;
        letter-spacing: -0.66px;
    }

    .block__text {
        width: 430px;

        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.6px;
    }

    .history__btn {
        width: 194px;
        height: 50px;
        padding-top: 12px;

        font-size: 16px;
        letter-spacing: -0.48px;
    }

    .history-inner {
        padding-bottom: 80px;
    }

    .projects__title {
        padding-bottom: 20px;
        font-size: 14px;
        letter-spacing: -0.42px;
    }

    .project__itemtitle {
        font-size: 18px;
        letter-spacing: -0.54px;

        margin-bottom: 11px;
    }

    .project__itemlink {
        font-size: 16px;
        letter-spacing: -0.48px;
    }

    .project__img {
        height: 250px;
        padding-bottom: 20px;
    }

    .project__item {
        margin-bottom: 49px;
    }

    .project__item:last-child {
        margin-bottom: 60px;
    }

    .projects__link {
        height: 100px;
        padding-top: 37px;
        font-size: 22px;
        letter-spacing: -0.66px;
    }
}