@import '../css/styles/block.css';
@import '../css/styles/history.css';
@import '../css/styles/projects.css';

/* * {
    outline: 4px solid green !important;
} */

body {
    font-family: "Manrope", sans-serif;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.block-inner {
    padding-bottom: 150px;
}

.projects-inner {
    padding-bottom: 100px;
}

.history-inner {
    padding-bottom: 150px;
}

@media (max-width: 1199px) {

    .container {
        width: 100%;
        padding: 0 15px;
    }

    .block-inner {
        padding-bottom: 120px;
    }

    .history-inner {
        padding-bottom: 120px;
    }
}

@media (max-width: 767px) {

    .block-inner {
        padding-bottom: 80px;
    }

    .history-inner {
        padding-bottom: 80px;
    }

}