@import '../css/styles/block.css';
@import '../css/styles/history.css';
@import '../css/styles/projects.css';
@import '../css/styles/services.css';
@import '../css/styles/reviews.css';

/* * {
    outline: 4px solid green !important;
} */

body {
    font-family: "Manrope", sans-serif;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.block-inner {
    padding-bottom: 150px;
}

.projects-inner {
    padding-bottom: 100px;
}

.history-inner {
    padding-bottom: 150px;
}

.services {
    background-color: black;
}

.services-inner {
    padding-bottom: 150px;
}

.reviews-inner {
    padding-top: 150px;
    padding-bottom: 150px;
}

@media (max-width: 1199px) {

    .container {
        width: 100%;
        padding: 0 15px;
    }

    .block-inner {
        padding-bottom: 120px;
    }

    .history-inner {
        padding-bottom: 120px;
    }

    .services-inner {
        padding-bottom: 120px;
    }

    .reviews-inner {
        padding-top: 120px;
        padding-bottom: 120px;
    }

}

@media (max-width: 600px) {
    .container {
        padding: 0 14px;
    }

    .block-inner {
        padding-bottom: 80px;
    }

    .history-inner {
        padding-bottom: 80px;
    }

    .projects-inner {
        padding-bottom: 80px;
    }

    .services-inner {
        padding-bottom: 80px;
    }

    .reviews-inner {
        padding-top: 80px;
        padding-bottom: 80px;
    }

}