@import "./blocks/block";
@import "./blocks/about";
@import "./blocks/projects";
@import "./blocks/services";
@import "./blocks/reviews";
@import "./blocks/gallery";
@import "./blocks/contact";
@import "./blocks/footer";

* {
    outline: 1px solid green;
}

body {
    font-family: "Manrope", sans-serif;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}