@import "./blocks/block";
@import "./blocks/about";
@import "./blocks/projects";
@import "./blocks/services";
@import "./blocks/reviews";
@import "./blocks/gallery";
@import "./blocks/contact";
@import "./blocks/footer";
@import "./blocks/popup";
@import "./blocks/header";
@import "./blocks/burger";

// * {
//     outline: 2px solid green;
// }

body {
    font-family: "Manrope", sans-serif;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

.body {

    &_fixed {
        overflow: hidden;
    }
}

.nav {

    &__items {
        display: flex;
        gap: 60px;
    }

    &__item {}

    &__item-link {
        color: #121212;

        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.54px;
        line-height: normal;
        text-transform: uppercase;

        text-decoration: none;
        border-bottom: 1px solid white;

        padding-bottom: 2px;


    }

    &__item-link:hover {
        opacity: 0.5;
        border-bottom: 1px solid black;
    }
}










@media (max-width: 960px) {
    .nav {

        &__items {
            display: none;

        }
    }

    .burger-btn {
        display: block;
    }
}