.history {

    margin-bottom: 150px;

    &__inner {}

    &__title {
        margin-bottom: 30px;

        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.54px;
        text-transform: uppercase;
    }

    &__subtitle {
        max-width: 1048px;

        margin-bottom: 30px;

        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -1.35px;
    }

    &__btn {
        display: block;

        max-width: 255px;
        height: 67px;

        border-radius: 5px;
        padding-top: 20px;

        background: #AD1818;
        color: white;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.6px;
    }
}

@media (max-width: 960px) {
    .history {

        margin-bottom: 120px;

        &__subtitle {
            font-size: 35px;
        }

    }
}

@media (max-width: 600px) {
    .history {

        margin-bottom: 80px;

        &__title {
            font-size: 14px;
            letter-spacing: -0.42px;

            margin-bottom: 20px;
        }

        &__subtitle {
            font-size: 22px;
            letter-spacing: -0.66px;
        }

        &__btn {
            font-size: 16px;
            letter-spacing: -0.48px;
            display: inline-flex;
            height: 51px;
            padding: 15.207px 30.414px;
        }

    }
}