.services {

    margin-bottom: 150px;
    background-color: black;
    padding: 150px 0;

    &__title {
        margin-bottom: 30px;

        color: white;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.54px;
        text-transform: uppercase;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 80.7px;

        margin-bottom: 80px;
    }

    &__item {
        width: calc(50% - 5px);
    }

    &__item-wrapper {
        position: relative;
        margin-bottom: 25px;

        height: 388.03px;
    }

    &__item-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__item-price {
        position: absolute;

        top: 31px;
        left: 30px;

        max-width: 211px;

        text-align: center;
        padding: 5px 20px;

        border-radius: 5px;
        background: #AD1818;

        color: #FFF;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.66px;
    }

    &__item-title {
        color: #FFF;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.9px;
    }

    &__btn {
        width: 100%;
        height: 153px;

        border-radius: 5px;
        background: #AD1818;
        border: none;

        color: #FFF;
        font-size: 30px;
        font-weight: 400;
        cursor: pointer;

        letter-spacing: -0.9px;
        text-decoration: none;
    }
}

@media (max-width: 960px) {
    .services {

        &__inner {
            padding-bottom: 120px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 80.7px;

            margin-bottom: 80px;
        }

        &__item-wrapper {
            position: relative;
        }

        &__item-img {
            margin-bottom: 25px;
            object-fit: cover;
            max-width: 569px;
            height: 384px;
        }

        &__item-price {
            font-size: 20px;
            letter-spacing: -0.6px;
        }

        &__item-title {
            font-size: 25px;
            letter-spacing: -0.75px;
        }
    }
}

@media (max-width: 600px) {
    .services {
        margin-bottom: 80px;

        &__inner {
            padding-bottom: 80px;
        }

        &__title {
            padding-top: 80px;
            margin-bottom: 20px;

            font-size: 14px;
            letter-spacing: -0.42px;
        }

        &__list {
            row-gap: 60px;

            margin-bottom: 60px;
        }

        &__item-wrapper {
            height: 240px;
            margin-bottom: 10px;
        }


        &__item {
            width: 100%;
        }

        &__item-img {
            margin-bottom: 10px;
            width: 100%;
            height: 384px;
            height: 240px;
        }

        &__item-price {
            font-size: 14px;
            letter-spacing: -0.42px;
            height: 30px;
        }

        &__item-title {
            font-size: 18px;
            letter-spacing: -0.54px;
        }

        &__btn {
            font-size: 22px;
            letter-spacing: -0.66px;

            height: 100px;
        }
    }
}