.reviews-inner__title {
    margin-bottom: 30px;
}

.title {
    color: #121212;

    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.54px;
    text-transform: uppercase;
}

.items-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 80px;
}

.item-about:last-child {
    width: 861px;
}

.item-about {
    width: 530px;
}

.item-about__title {
    font-size: 45px;
    font-weight: 400;
    letter-spacing: -1.35px;
}

.item-about__subtitle {
    margin-top: 14px;

    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.66px;
}

.item-about__subtitle-second {
    margin-top: 60px;

    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.66px;
}

@media (max-width: 1199px) {

    .item-about__title {
        font-size: 35px;
        font-weight: 400;
        letter-spacing: -1.05px;
    }

    .item-about__subtitle {
        font-size: 20px;
        letter-spacing: -0.6px;
    }

    .item-about__subtitle-second {
        font-size: 20px;
        letter-spacing: -0.6px;
    }

    .item-about:last-child {
        width: 694px;
    }

    .item-about {
        width: 459px;
    }
}

@media (max-width: 942px) {
    .items-wrapper {
        justify-content: center;
    }

    .item-about:last-child {
        width: 459px;
    }
}

@media (max-width: 600px) {
    .reviews-inner__title {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.42px;

        margin-bottom: 22px;
    }

    .item-about__subtitle-second {
        font-size: 16px;
        letter-spacing: -0.48px;

        margin-top: 34px;
    }

    .item-about__subtitle {
        font-size: 16px;
        letter-spacing: -0.48px;
    }

    .item-about__title {
        font-size: 25px;
        letter-spacing: -0.75px;
    }
}