.services__title {
    padding-top: 150px;
    margin-bottom: 30px;

    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
}

.item-wrapper {
    position: relative;
}

.item__price {
    position: absolute;

    top: 31px;
    left: 30px;

    max-width: 211px;
    height: 40px;


    text-align: center;
    padding: 5px 20px;

    border-radius: 5px;
    background: #AD1818;

    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.66px;
}

.item__img {
    margin-bottom: 25px;
}

.item__title {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
}

.services__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 80.7px;

    margin-bottom: 104px;
}

.services__btn {
    display: block;

    max-width: 1150px;
    height: 153px;

    padding-top: 56px;

    border-radius: 5px;
    background: #AD1818;

    color: #FFF;
    font-size: 30px;
    font-weight: 400;

    letter-spacing: -0.9px;
    text-decoration: none;
    text-align: center;
}